body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#E6D6FF;
  color:black;
}

/* container animation */
.container{
  padding:40px;
  text-align:center;
  animation: fade 0.8s ease-in;
}

@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}

/* navbar */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:18px 50px;
  background:#d2b6ff;
  font-weight:bold;
  box-shadow:0 3px 10px rgba(0,0,0,0.15);
}

.logo{
  font-size:22px;
}

.nav-links a{
  margin:0 15px;
  text-decoration:none;
  color:black;
  position:relative;
}

/* active link underline */
.active{
  border-bottom:3px solid black;
  padding-bottom:5px;
}

/* cards */
.card{
  background:white;
  padding:25px;
  margin:25px auto;
  border-radius:18px;
  box-shadow:0 5px 18px rgba(0,0,0,0.15);
  width:60%;
  transition:0.3s;
}

/* hover animation */
.card:hover{
  transform:scale(1.05);
}

/* footer */
.footer{
  margin-top:40px;
  padding:20px;
  background:#d2b6ff;
}
